name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore DevopsProject.sln

      - name: Build
        run: dotnet build DevopsProject.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test DevopsProject.sln --configuration Release --no-build

      - name: Publish
        run: dotnet publish DevopsProject/DevopsProject.csproj -c Release -o publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: devops-petir-123-bpbjb9c3bscffsew
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish
