name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore DevopsProject.sln

      - name: Build
        run: dotnet build DevopsProject.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test DevopsProject.sln --configuration Release --no-build --verbosity normal
